<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="org.allseen.alljoyn"
	version="0.0.1">
		
	<name>AllJoyn</name>
	<description>Cordova AllJoyn Plugin</description>

	<engines>
		<engine name="cordova" version=">=3.1.0" />
	</engines>

	<js-module src="www/alljoyn.js" name="allJoyn">
		<merges target="allseen.alljoyn" />
	</js-module>

	<!-- android -->
	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="AllJoyn">
				<param name="android-package" value="org.allseen.alljoyn.AllJoyn"/>
				<param name="onload" value="true"/>
			</feature>
		</config-file>

		<!-- Generated Code -->
		<source-file src="src/android/alljoyn/AJ_BusAttachment.java" target-dir="src/alljoyn" />
		<source-file src="src/android/alljoyn/AJ_Credential.java" target-dir="src/alljoyn" />
		<source-file src="src/android/alljoyn/AJ_IOBuffer.java" target-dir="src/alljoyn" />
		<source-file src="src/android/alljoyn/AJ_MCastSocket.java" target-dir="src/alljoyn" />
		<source-file src="src/android/alljoyn/AJ_MemberType.java" target-dir="src/alljoyn" />
		<source-file src="src/android/alljoyn/AJ_MsgHeader.java" target-dir="src/alljoyn" />
		<source-file src="src/android/alljoyn/AJ_NetSocket.java" target-dir="src/alljoyn" />
		<source-file src="src/android/alljoyn/AJ_Object.java" target-dir="src/alljoyn" />
		<source-file src="src/android/alljoyn/AJ_ObjectIterator.java" target-dir="src/alljoyn" />
		<source-file src="src/android/alljoyn/AJ_SessionOpts.java" target-dir="src/alljoyn" />
		<source-file src="src/android/alljoyn/AJ_Status.java" target-dir="src/alljoyn" />
		<source-file src="src/android/alljoyn/AJ_Time.java" target-dir="src/alljoyn" />
		<source-file src="src/android/alljoyn/AllJoynConfiguration.java" target-dir="src/alljoyn" />
		<source-file src="src/android/alljoyn/MessageHandlerEntry.java" target-dir="src/alljoyn" />
		<source-file src="src/android/alljoyn/PropHandlerEntry.java" target-dir="src/alljoyn" />
		<source-file src="src/android/alljoyn/SWIGTYPE_p_AJ_Service.java" target-dir="src/alljoyn" />
		<source-file src="src/android/alljoyn/SWIGTYPE_p_double.java" target-dir="src/alljoyn" />
		<source-file src="src/android/alljoyn/SWIGTYPE_p_f_p_q_const__void_enum_AJ_Status__void.java" target-dir="src/alljoyn" />
		<source-file src="src/android/alljoyn/SWIGTYPE_p_f_p_struct__AJ_IOBuffer__AJ_Status.java" target-dir="src/alljoyn" />
		<source-file src="src/android/alljoyn/SWIGTYPE_p_f_p_struct__AJ_IOBuffer_uint32_t_uint32_t__AJ_Status.java" target-dir="src/alljoyn" />
		<source-file src="src/android/alljoyn/SWIGTYPE_p_f_p_struct__AJ_Message__uint8_t.java" target-dir="src/alljoyn" />
		<source-file src="src/android/alljoyn/SWIGTYPE_p_f_p_struct__AJ_Message_p_q_const__char__AJ_Status.java" target-dir="src/alljoyn" />
		<source-file src="src/android/alljoyn/SWIGTYPE_p_f_p_struct__AJ_Message_p_struct__AJ_Message__AJ_Status.java" target-dir="src/alljoyn" />
		<source-file src="src/android/alljoyn/SWIGTYPE_p_f_p_struct__AJ_Message_uint32_t_p_void__AJ_Status.java" target-dir="src/alljoyn" />
		<source-file src="src/android/alljoyn/SWIGTYPE_p_f_p_uint8_t_uint32_t__uint32_t.java" target-dir="src/alljoyn" />
		<source-file src="src/android/alljoyn/SWIGTYPE_p_f_p_void__void.java" target-dir="src/alljoyn" />
		<source-file src="src/android/alljoyn/SWIGTYPE_p_f_uint32_t_p_q_const__char__p_char.java" target-dir="src/alljoyn" />
		<source-file src="src/android/alljoyn/SWIGTYPE_p_f_uint32_t_uint32_t_p_struct__AJ_Credential__AJ_Status.java" target-dir="src/alljoyn" />
		<source-file src="src/android/alljoyn/SWIGTYPE_p_f_uint8_t__void.java" target-dir="src/alljoyn" />
		<source-file src="src/android/alljoyn/SWIGTYPE_p_int16_t.java" target-dir="src/alljoyn" />
		<source-file src="src/android/alljoyn/SWIGTYPE_p_int32_t.java" target-dir="src/alljoyn" />
		<source-file src="src/android/alljoyn/SWIGTYPE_p_int64_t.java" target-dir="src/alljoyn" />
		<source-file src="src/android/alljoyn/SWIGTYPE_p_int8_t.java" target-dir="src/alljoyn" />
		<source-file src="src/android/alljoyn/SWIGTYPE_p_p_char.java" target-dir="src/alljoyn" />
		<source-file src="src/android/alljoyn/SWIGTYPE_p_p_p_char.java" target-dir="src/alljoyn" />
		<source-file src="src/android/alljoyn/SWIGTYPE_p_p_void.java" target-dir="src/alljoyn" />
		<source-file src="src/android/alljoyn/SWIGTYPE_p_size_t.java" target-dir="src/alljoyn" />
		<source-file src="src/android/alljoyn/SWIGTYPE_p_uint16_t.java" target-dir="src/alljoyn" />
		<source-file src="src/android/alljoyn/SWIGTYPE_p_uint32_t.java" target-dir="src/alljoyn" />
		<source-file src="src/android/alljoyn/SWIGTYPE_p_uint64_t.java" target-dir="src/alljoyn" />
		<source-file src="src/android/alljoyn/SWIGTYPE_p_uint8_t.java" target-dir="src/alljoyn" />
		<source-file src="src/android/alljoyn/SWIGTYPE_p_void.java" target-dir="src/alljoyn" />
		<source-file src="src/android/alljoyn/_AJ_Arg.java" target-dir="src/alljoyn" />
		<source-file src="src/android/alljoyn/_AJ_Arg_val.java" target-dir="src/alljoyn" />
		<source-file src="src/android/alljoyn/_AJ_Message.java" target-dir="src/alljoyn" />
		<source-file src="src/android/alljoyn/alljoyn.java" target-dir="src/alljoyn" />
		<source-file src="src/android/alljoyn/alljoynConstants.java" target-dir="src/alljoyn" />
		<source-file src="src/android/alljoyn/alljoynJNI.java" target-dir="src/alljoyn" />

		<source-file src="src/android/AllJoyn.java" target-dir="src/org/allseen/alljoyn" />
		<source-file src="src/android/armeabi/liballjoyn.so" target-dir="libs/armeabi" />    
	</platform>
   
	<!-- ios -->
	<!--
	<platform name="ios">
		<config-file target="config.xml" parent="/*">
			<feature name="AllJoyn">
				<param name="ios-package" value="AllJoyn" />
				<param name="onload" value="true"/>
			</feature>
		</config-file>

		<header-file src="AllJoyn.h" />    
		<source-file src="AllJoyn.m" />    
	</platform>-->

	<!-- windows8 -->
	<platform name="windows8">
		<js-module src="src/windows8/AllJoynProxy.js" name="AllJoynProxy">
			<merges target="" />
		</js-module>
		<!--
		<framework src="src/windows8/AllJoynWinRTComponent.winmd" custom="true"/>-->
		 <framework src="src/windows8/AllJoynWinRTComponent/AllJoynWinRTComponent.vcxproj" custom="true" type="projectReference"/>
	</platform>

	<!-- wp8 -->
	<platform name="wp8">
		<config-file target="config.xml" parent="/*">
			<feature name="AllJoyn">
				<param name="wp-package" value="AllJoyn"/>
				<param name="onload" value="true"/>
			</feature>
		</config-file>

		<source-file src="src/wp/AllJoyn.cs" />
	</platform>
	
</plugin>
